.page-frame {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;

  & > * {
    flex: 0 1 auto;
  }

  .page-body {
    flex: 1;
    overflow-y: auto;
  }
}

mat-toolbar {
  // position: fixed;
  // top: 0;
  // z-index: 999;

  .spacer {
    flex: 1;
  }
}
