<div class="page-frame">
  <mat-toolbar role="heading">
    <button mat-icon-button>
      <mat-icon svgIcon="book-music-outline"></mat-icon>
    </button>
    <span>ID3 Tag Editor</span>

    <span class="spacer"></span>

    <button mat-icon-button
            matTooltip="{{ healthCheckTooltip$ | async }}"
            (click)="updateHealthCheck()">
      <mat-icon>{{ healthCheckIcon$ | async }}</mat-icon>
    </button>
  </mat-toolbar>

  <app-file-list-navbar></app-file-list-navbar>

  <div class="page-body">
    <router-outlet></router-outlet>
  </div>
</div>
