<div class="list">
  <mat-form-field *ngFor="let control of controls; let i = index">
    <mat-label>{{ singleItemLabel }}</mat-label>
    <input matInput [formControl]="controls[i]">
    <button mat-icon-button
            matSuffix
            [matTooltip]="deleteItemLabel"
            (click)="deleteItem($event, i)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-form-field>

  <div class="button-row">
    <button mat-button (click)="addItem($event)">
      <mat-icon>add</mat-icon>
      {{ addItemLabel }}
    </button>
    <button mat-button (click)="clearItems($event)">
      <mat-icon>delete</mat-icon>
      {{ clearItemLabel }}
    </button>
  </div>
</div>
