<div [ngClass]="customClasses">
  <mat-card class="info-box-card">
    <mat-card-content>
      <mat-icon *ngIf="!useSvgForIcon">{{ icon }}</mat-icon>
      <mat-icon *ngIf="useSvgForIcon" [svgIcon]="icon"></mat-icon>
      <span class="info-box-title">{{ renderedTitle }}</span>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>
