.info-box-card-container {
  &.warning .info-box-card {
    background-color: orange;
  }
  &.danger .info-box-card {
    background-color: red;
    color: white;
  }

  margin-bottom: 10px;
}
mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.info-box-title {
  font-weight: bold;
}
