<mat-toolbar>
  <button mat-icon-button
          matTooltip="Navigate up"
          (click)="navigateBack()"
          [disabled]="isTopFolder">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button
          matTooltip="Go Home"
          (click)="navigateToRoot()">
    <mat-icon>home</mat-icon>
  </button>
  <mat-icon>folder_open</mat-icon>
  <span class="path">{{ currentPath$ | async }}</span>
</mat-toolbar>
<mat-progress-bar [mode]="(loadingBarMode$ | async) || 'determinate'"></mat-progress-bar>
