<mat-action-list>
  <div mat-subheader>Folders ({{ (subDirectories$ | async)?.length }})</div>
  <button *ngFor="let dir of (subDirectories$ | async)"
          mat-list-item
          (click)="navigateToFolder(dir, currentPath)"
  >
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>{{ dir }}</div>
  </button>

  <div mat-subheader>Files ({{ (files$ | async)?.length }})</div>
  <button mat-list-item *ngFor="let file of (files$ | async)"
          (click)="openFile(file)">
    <mat-icon mat-list-icon>audio_file</mat-icon>
    <div mat-line>{{ file.name }}</div>
    <div mat-line>{{ file.size | fileSize }}</div>
  </button>
</mat-action-list>
