<h2 mat-dialog-title>
  <mat-icon>audio_file</mat-icon>
  ID3 Tags
</h2>
<mat-dialog-content>
  <ng-container *ngIf="tags; else noTagData" [formGroup]="form">
    <mat-tab-group dynamicHeight>
      <!-- Track -->
      <mat-tab label="Track">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

        <app-array-text-field formControlName="artists"
                              label="Artists"
                              singleItemLabel="Artist">
        </app-array-text-field>

        <mat-form-field>
          <mat-label>Album</mat-label>
          <input matInput formControlName="album">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Genre</mat-label>
          <input matInput formControlName="genre">
        </mat-form-field>

        <div class="row">
          <mat-form-field class="no-full-width short">
            <mat-label>Track</mat-label>
            <input matInput type="number" formControlName="track">
          </mat-form-field>
          <span>/</span>
          <mat-form-field class="no-full-width short">
            <mat-label>Track Count</mat-label>
            <input matInput type="number" formControlName="trackCount">
          </mat-form-field>

          <span class="spacer"></span>

          <mat-form-field class="no-full-width short">
            <mat-label>BPM</mat-label>
            <input matInput type="number" formControlName="bpm">
          </mat-form-field>
          <mat-form-field class="no-full-width short">
            <mat-label>Year</mat-label>
            <input matInput type="number" formControlName="year">
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Band</mat-label>
          <input matInput formControlName="band">
        </mat-form-field>
      </mat-tab>

      <!-- Composition -->
      <mat-tab label="Composition">
        <app-array-text-field label="Composers"
                              singleItemLabel="Composer"
                              formControlName="composers"
        ></app-array-text-field>

        <app-array-text-field label="Lyricists"
                              singleItemLabel="Lyricist"
                              formControlName="lyricists"
        ></app-array-text-field>
      </mat-tab>

      <!-- Publication -->
      <mat-tab label="Publication">
        <mat-form-field>
          <mat-label>Publisher</mat-label>
          <input matInput formControlName="publisher">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Copyright</mat-label>
          <input matInput formControlName="copyright">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Copyright URL</mat-label>
          <input matInput formControlName="copyrightUrl">
        </mat-form-field>
      </mat-tab>

      <!-- File Info -->
      <mat-tab label="File Info">
        <app-info-box level="note" customIcon="comment-alert-outline" [useSvgForIcon]="true">
          This data cannot be edited.
        </app-info-box>

        <mat-form-field>
          <mat-label>File Path</mat-label>
          <input matInput [value]="params?.path" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>File Type</mat-label>
          <input matInput [value]="params?.data?.fileType" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Encoder</mat-label>
          <input matInput [value]="params?.data?.encoder" readonly>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-template #noTagData>
    <b>No Tag Data Available</b>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Close
  </button>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" [mat-dialog-close]="outputValue">
    Save
  </button>
</mat-dialog-actions>
