mat-form-field {
  &:not(.no-full-width) {
    display: block;
    width: 100%;
    min-width: 400px;
  }

  &.short {
    width: 80px;
  }
}

.row {
  display: flex;
  flex-flow: row;
  align-items: baseline;

  & > * {
    flex: 0 1 auto;
  }
  .spacer {
    flex: 1;
  }
}

input[type=number] {
  text-align: right;
}

mat-dialog-actions {
  .spacer {
    flex: 1;
  }
}
